# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/.org-id-locations
/auto-save-list/
/bookmarks
/config.el
/eln-cache/
/elpa/
/eshell/
/history
/org-roam.db
/projectile-bookmarks.eld
/straight/
/transient/
/tree-sit-parsers/
/tree-sit-repos/
/.mc-lists.el
/ac-comphist.dat
/elpy/
/forge-database.sqlite
/nov-places
/persist/
/places
/request/
/tramp
/url/
